body {
    background-color: #f0f2f5;
  }
  
  .sidebar {
    background-color: #005F83;
    color: white;
    padding: 1rem;
    border-radius: 5px;
  }
  
  .section-box {
    background-color: white;
    color: #005F83;
    padding: 1rem;
    border-radius: 5px;
    margin-top: 1rem;
  }
  .table-page{
    --bs-table-color: #fff;
    --bs-table-bg: #005F83;
    --bs-table-border-color: #3f5056;
    --bs-table-striped-bg: #2c3034;
    --bs-table-striped-color: #fff;
    --bs-table-active-bg: #3f5056;
    --bs-table-active-color: #fff;
    --bs-table-hover-bg: #323539;
    --bs-table-hover-color: #fff;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
  }
  
  .search-bar {
    background-color: #f1f5fb;
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
    width: 100%;
    font-weight: 500;
  }
  
  .search-bar:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
  }
  
  .table-container {
    overflow-x: auto;
  }
  
  .table thead {
    background-color: #005F83;
    color: white;
  }
  
  .horizontal-line {
    height: 4px;
    background-color: #ccc;
    margin-bottom: 30px;
    width: 100%;
  }
  